<div class="row">
    <div class="col-sm-12 col-md-8">
        {{#coursesummary}}
            <div class="coursesummary">
                {{{.}}}
            </div>
        {{/coursesummary}}
    </div>
    <div class="col-sm-12 col-md-4 rightside">
        <div class="inner-content">
            <figure>
                <div class="overflow-hidden rounded" style="width: 100%; height: 445px;">
                    <img src="{{courseimage}}" alt="{{coursename}}" class="h-full w-full object-cover">
                </div>
                <figcaption class="mt-2 py-2">
                    <h4>{{coursename}}</h4>
                    <span class="badge badge-secondary">{{#str}}category{{/str}}: {{categoryname}}</span>
                    <hr class="mb-1">
                </figcaption>
            </figure>

            {{#hascustomfields}}
                <div class="customfields">
                    {{#customfields}}
                        {{#hasvalue}}
                            <h5>{{name}}</h5>
                            <p>{{{value}}}</p>
                        {{/hasvalue}}
                    {{/customfields}}
                </div>
            {{/hascustomfields}}

            <div class="enrolbuttons">
                {{{ enrolbuttons }}}
            </div>
        </div>
    </div>
</div>
